#navigation #brand {
    background: url("../img/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
select + p.help-block, textarea + p.help-block, input[type="text"] + p.help-block, input[type="password"] + p.help-block, input[type="datetime"] + p.help-block, input[type="datetime-local"] + p.help-block, input[type="date"] + p.help-block, input[type="month"] + p.help-block, input[type="time"] + p.help-block, input[type="week"] + p.help-block, input[type="number"] + p.help-block, input[type="email"] + p.help-block, input[type="url"] + p.help-block, input[type="search"] + p.help-block, input[type="tel"] + p.help-block, input[type="color"] + p.help-block, .uneditable-input + p.help-block { margin-top: -8px; font-size: 0.9em;}
select + span.help-inline, textarea + span.help-inline, input[type="text"] + span.help-inline, input[type="password"] + span.help-inline, input[type="datetime"] + span.help-inline, input[type="datetime-local"] + span.help-inline, input[type="date"] + span.help-inline, input[type="month"] + span.help-inline, input[type="time"] + span.help-inline, input[type="week"] + span.help-inline, input[type="number"] + span.help-inline, input[type="email"] + span.help-inline, input[type="url"] + span.help-inline, input[type="search"] + span.help-inline, input[type="tel"] + span.help-inline, input[type="color"] + span.help-inline, .uneditable-input + span.help-inline { margin-top: -21px; font-size: 0.9em; color: #b94a48;}

.breadcrumbs { padding: 6px;}
.breadcrumbs + .alert { margin-top: 20px; margin-bottom: 0px;}
.breadcrumbs + form { margin-top: 20px; }
.form-horizontal .form-actions { padding-left: 172px;}
.alert + .row-fluid {margin-top: -20px;}

.control-group.success .help-block, .control-group.error .help-block { margin-top: 4px; }

.search-button-title { margin-top: 28px; border-bottom: 1px solid #dddddd; padding-bottom: 20px;}
.search-button-title.no-border { border: 0;}
.search-form-ext form { margin-bottom: 0; border-bottom: 1px solid #dddddd;}

.table-view-details th { width: 20%;}
.form-search span.required { display: none;}
.dataTables_wrapper { overflow: auto;}
.dataTables_wrapper th .sort-link span.caret { margin-top: 9px; margin-left: 6px; display: none;}
.dataTables_wrapper th .sort-link.desc span.caret { display: inline-block;}
.dataTables_wrapper th .sort-link.asc span.caret { display: inline-block; border-bottom: 4px solid #000000; border-right: 4px solid transparent; border-left: 4px solid transparent; border-top: 0;}
.dataTables_wrapper .pagination { margin-top: 0;}

.no-caret > a > span.caret { display: none;}

/* Message */
#ron-message-main {width: 100%; z-index: 1000;}

@media (max-width: 1200px) {
    .icon-nav{display:block !important}
}

.spraytable .th {
    clear: both;
    display: block;
}
.spraytable .tablebody {
    padding: 0.6em 10px;
}
.spraytable .tablebody .th {
    color: #444;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    padding: 5px;
    text-shadow: none;
}
.spraytable .th > span {
    display: block;
    float: left;
    width: 20%;
}
    .spraytable .tablebody .th span.previous_year{
        color: #777;
    }
.spraytable .tablebody > div:nth-child(2n), .labelrow {
    color: #aaa;
    font-weight: normal;
}
.spraytable .tablebody > div:nth-child(2n) {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    padding-top: 0;
}
.spraytable .tablebody > div:last-child {
    border-bottom: medium none;
    margin-bottom: 0;
    margin-top: 0;
}
.spraytable .ui-btn-inner, .graph .ui-btn-inner {
    padding: 0.6em 15px;
}
.doublewidth {
    width: 40% !important;
}
.right-cell{text-align: right!important;}

#main .page-header .pull-left h1{
    line-height: 36px;
}


.table.dataTable, table.dataTable tr.child ul{
    max-width: 100%;
    width: 100% !important;
}
    table.dataTable tr.child ul li{
        white-space: normal;
    }

.table.dataTable input,.table.dataTable textarea,.table.dataTable .uneditable-input{
    width: auto;
    margin-bottom: 0;
    max-width: 160px;
}
.table.dataTable select{
    width: auto;
    margin-bottom: 0;
    max-width: 160px;
}
table.dataTable tr.odd{
    background: none;
}
table.dataTable tr.odd td.sorting_1{
    background-color: #f9f9f9;
}
table.dataTable tr.even td.sorting_1{
    background: none;
}

table.dataTable tr td.c-button{
    float: none;
    text-align: center;
}
    table.dataTable tr td.c-button a.btn{
    }
    
table.dataTable.dtr-inline.collapsed tbody td:first-child::before, table.dataTable.dtr-inline.collapsed tbody th:first-child::before{
    top: 35%;
}

table.dataTable .filter-container #Users_username,
table.dataTable .filter-container #Users_type,
table.dataTable .filter-container #Biofix_date,
table.dataTable .filter-container #Biofix_second_cohort,
table.dataTable .filter-container #Block_tree_spacing,
table.dataTable .filter-container #Block_row_width,
table.dataTable .filter-container #Chemical_pack_qty,
table.dataTable .filter-container #Chemical_pack_price,
table.dataTable .filter-container #Chemical_dilution_rate,
table.dataTable .filter-container #Chemical_application_rate,
table.dataTable .filter-container #Grower_username,
table.dataTable .filter-container #Grower_enabled,
table.dataTable .filter-container #Pest_dd,
table.dataTable .filter-container #Pest_calculate,
table.dataTable .filter-container #Mite_type,
table.dataTable .filter-container #MiteMonitor_date,
table.dataTable .filter-container #MiteMonitor_no_days,
table.dataTable .filter-container #Sizing_date,
table.dataTable .filter-container #Sizing_value,
table.dataTable .filter-container #Sizing_type,
table.dataTable .filter-container #Spray_date,
table.dataTable .filter-container #Spray_quantity,
table.dataTable .filter-container #TrapCheck_date,
table.dataTable .filter-container #TrapCheck_comment{
    width: 80px;
}

table.dataTable .filter-container #PestSpray_number,
table.dataTable .filter-container #PestSpray_dd,
table.dataTable .filter-container #PestSpray_every,
table.dataTable .filter-container #MiteMonitor_percent_li,
table.dataTable .filter-container #TrapCheck_value{
    width: 50px;
}

#pest-grid table.dataTable tr.child ul li span.dtr-data div,
#yw1 table.dataTable tr.child ul li span.dtr-data div{
    width: 30px;
}

@media (max-width: 1024px) {
    .form-horizontal.form-search-advanced .span6 .control-label{
        width: 80px;
    }
    .form-horizontal.form-search-advanced .span6 .controls{
        margin-left: 100px;
    }
}

@media (max-width: 900px) {
    .form-horizontal.form-search-advanced .span6 .control-label{
        width: 60px;
    }
    .form-horizontal.form-search-advanced .span6 .controls{
        margin-left: 70px;
    }
}

@media (max-width: 840px) {
    .form-horizontal.form-search-advanced .span6 .control-label{
        width: 120px;
    }
    .form-horizontal.form-search-advanced .span6 .controls{
        margin-left: 140px;
    }
}

@media (max-width: 480px) {
    .form-horizontal.form-search-advanced .search-button-title select{
        width: auto;
        max-width: 100%;
    }
    .form-horizontal.form-column [class*="span"] .control-group .control-label{
        width: 100%;
    }
    .form-horizontal .form-actions{
        padding: 20px;
    }
}

@media (max-width: 400px) {
    .hidden-mobile-400{
        display: none !important;
    }
}

@media (max-width: 360px) {
    .ctrapCheck-aindex .form-search-advanced .search-button-title .search-button{
        display: block;
        width: 112px;
        margin-bottom: 10px;
    }
    .grid-view .ui-spinner-input{
        margin: 0 18px 0 0;
    }
    .hidden-mobile-360{
        display: none !important;
    }
}

@media (max-width: 320px) {
    .pagination ul > li > a, .pagination ul > li > span{
        padding: 4px 10px;
    }
}
